<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxw.cloud.dao.OrderStatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxw.cloud.com.wxw.cloud.domain.OrderStatus">
        <id column="order_id" property="orderId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="payment_time" property="paymentTime" />
        <result column="consign_time" property="consignTime" />
        <result column="end_time" property="endTime" />
        <result column="close_time" property="closeTime" />
        <result column="comment_time" property="commentTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, status, create_time, payment_time, consign_time, end_time, close_time, comment_time
    </sql>

</mapper>
