<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxw.cloud.dao.SeckillOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxw.cloud.com.wxw.cloud.domain.SeckillOrder">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="skuId" property="skuId" />
        <result column="orderId" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, skuId, orderId
    </sql>

</mapper>
