.container {
    width: 1226px;
    margin: 0 auto;
}

a{
    img{
        width: 100%;
        height: 100%;
    }
}
.clearfix:before,.clearfix:after{
    content:' ';
    display:table;
}
.clearfix:after{
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.header-logo {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #ff6600;

    a {
        display: inline-block;
        width: 110px;
        height: 55px;

        &:before {
            content: " ";
            display: inline-block;
            width: 55px;
            height: 55px;
            background: url("/imgs/mi-logo.png") no-repeat center;
            background-size: contain;
            transition: margin 0.2s;
        }

        &:after {
            content: " ";
            display: inline-block;
            width: 55px;
            height: 55px;
            background: url("/imgs/mi-home.png") no-repeat center;
            background-size: contain;
        }

        &:hover:before {
            margin-left: -55px;
            transition: margin 0.2s;
        }
    }
}
