@import "./config";
.btn{
    display: inline-block;
    width: 110px;
    height: 30px;
    text-align: center;
    background-color: $colorA;
    color: #ffffff;
    border: none;
    line-height: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.btn-default{
  background-color: #b0b0b0;
  color: $colorG;
}
.btn-large{
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.btn-huge{
  width: 300px;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
}
.btn-group{
  .btn{
    margin-right: 20px;
    &:last-child{
      margin: 0;
    }
  }
}
