//flex布局复用
@mixin flex($hov:space-between, $col:center) {
    display: flex;
    justify-content: $hov;
    align-items: $col;
};
@mixin position($pos:absolute,$top:0,$left:0,$width:100%,$height:100%){
    position: $pos;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
};
