<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxw.cloud.dao.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxw.cloud.domain.Sku">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="title" property="title" />
        <result column="images" property="images" />
        <result column="price" property="price" />
        <result column="indexes" property="indexes" />
        <result column="own_spec" property="ownSpec" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spu_id, title, images, price, indexes, own_spec, enable, create_time, last_update_time
    </sql>

</mapper>
